################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/website/python39/Lib/site-packages
/website/path/to
/website/dist/app
/website/build/app
/website/python39/Scripts
/website/path/upload/2024-04-14
/.vs
